body {
  width: 100;
  height: 100;
  margin: 0;
  text-align: center;
}

h1 {
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
nav content{
  text-align: center;
}
nav a {
  background-color: darkslategray;
  text-align: center;
  vertical-align: middle;
  padding-left: 10px;
padding-right: 10px;
margin: 5px;
float: inherit;
}
 


figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  align-self: center;
  text-align: center;
  font-size: small;
}
 p {
  align-content: center;
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
div {
  float: left;
  background-color: rgb(255, 0, 21);
  text-align: center;
  max-width: 25%;
}
a {
  text-align: center;
  float: left;
  word-spacing: normal;
  overflow: visible;
  

}
div p {
  text-align: center;
  float: left;
  max-width: 25%;
}



  

